.background {
    background-color: black;
}

.header {
    font-family: Garamond, sans-serif;
    color: #e9b89a;
    background-color: black;
    padding: 1px;
    max-width: 100%;
}

.header h1 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    display: inline;
    font-size: 50px;
    padding: 145px;
    top: 30px;
    margin: 70px;
    color: grey;
    left: 50px;

}

.header .right {
    position: relative;
    font-size: 30px;
    padding-top: 20px;
    padding-right: 50px;
}

.header div {
    padding-top: 1px;
    margin-right: 80px;
    font-family: Garamond, sans-serif;
    font-size: 20px;
    float: right;
}

.header div ul {
    list-style-type: none;
    display: inline-block;
}

.header section ul li {
    display: inline-block;
    margin-left: 30px;
}

#absolute-box {
    color: grey;
    background-color: black;
    position: absolute;
    left: 610px;
    top: 350px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

.picture {
    box-shadow: 0px 13px 10px black;
    margin-left: 120px;
    margin-top: 60px;

}

.h2 {
    font-family: Garamond, sans-serif;
    font-size: 70px;
}

.parg {
    background-color: grey;
    font-size: 27px;
    padding: 25px;
    border-radius: 100px;
}

#WorkPic {
    width: 100%;
    border-radius: 100px;

}

#work #Contact {
    font-family: Garamond, sans-serif;
    font-size: 70px;
    color: grey;
    font-weight: bolder;
    border-radius: 25px;
}

.contact {
    font-size: 45px;
    color: grey;
}

#resumelink {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.move-right {
    display: flex;
    justify-content: space-between;
    display: inline;
}

::-webkit-scrollbar {
    display: none;
}

.centered {
    position: absolute;
    top: 155%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    color: black;
    border-radius: 100px;
    padding: 20px;
}

.centers {
    position: absolute;
    top: 185%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    color: black;
    border-radius: 100px;
    padding: 10px;
    font-weight: bolder;
}

.center3 {
    position: absolute;
    top: 210%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    color: black;
    border-radius: 100px;
    padding: 15px;
}




.header .right {
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    right: 8%;
}

p #work {
    padding: 30px;
}



/* Apologies for how the entire thing looks, his was a very rushed project and it's missing a few things aesthetically with the different screen size command because I didn't have much time to do it due to work, I'd like to re-submit this project soon, if possible. */